.u-w0 {
	width: 0 !important;
}

.u-wauto {
	width: auto !important;
}

.u-hauto {
	height: auto !important;
}

.u-no_gap {
	margin: 0 !important;
}

.u-simple_borders {
	border-radius: 0 !important;
}

.u-mw100p {
	max-width: 100% !important;
}